<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<title>Filmlist</title>
</head>
<body>
	<div class="container">
	  <div class="row">
		<div class="col-sm-7">
			<h1>Listing of Films</h1>
		</div>
		<div class="col-sm-3" style="padding:10px">
			<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h3>
		</div>
		<div class="col-sm-2" style="padding:10px">
			<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-primary"/>
			</form>
			<div sec:authorize="isAnonymous()">
				<a href="/login" class="btn btn-primary">Sign In</a>
			</div>
		</div>
	  </div>
	  <p><a href="/genrelist" >Listing of Genres</a></p>
	</div>
		<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>Director</th>
			<th>Year</th>
			<th>Description</th>
			<th>Lead roles</th>
			<th>IMDb rating</th>
			<th>Genre</th>
			<th sec:authorize="hasAuthority('ADMIN')"></th>
			<th sec:authorize="hasAuthority('ADMIN')"></th>
		</tr>
		<tr th:each="film : ${films}">
			<td th:text="${film.title}">Title</td>
			<td th:text="${film.director}">Director</td>
			<td th:text="${film.year}">Year</td>
			<td th:text="${film.description}">Description</td>
			<td th:text="${film.leadroles}">Lead roles</td>
			<td th:text="${film.imdb}">IMDb rating</td>
			<td th:text="${film.genre.genreName}">Genre</td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${film.filmId})}" class="btn btn-primary">Edit</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${film.filmId})}" class="btn btn-danger">Delete</a></td>
		</tr>
	</table>
	<div class="container">
		<a href="/addfilm" class="btn btn-success" >Add Film</a>
	</div>
	
</body>
</html>