<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<title>Genrelist</title>
</head>
<body>
	<div class="jumbotron jumbotron-fluid text-center" style="max-height:100px">
	  <div class="container">
	    <h1 class="font-weight-bold">F i l m B a s e</h1>      
	  </div>
	</div>
	<div class="container">
	  <div class="row">
		<div class="col-sm-7">
			<h1>Listing of Genres</h1>
		</div>
		<div class="col-sm-3" style="padding:10px">
			<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h3>
		</div>
		<div class="col-sm-2" style="padding:10px">
			<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-secondary"/>
			</form>
			<div sec:authorize="isAnonymous()">
				<a href="/login" class="btn btn-primary">Sign In</a>
			</div>
		</div>
	  </div>
	
	<p><a href="/filmlist" >Listing of Films</a></p>
	</div>
		<table class="table table-striped">
		<tr>
			<th>Genre Id</th>
			<th>Genre Name</th>
			<th sec:authorize="hasAuthority('ADMIN')"></th>
		</tr>
		<tr th:each="genre : ${genres}">
			<td th:text="${genre.genreId}">Genre Id</td>
			<td th:text="${genre.genreName}">Genre Name</td>
	 		<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deletegenre/{id}(id=${genre.genreId})}" class="btn btn-danger">Delete</a></td>
		</tr>
	</table>
	<div class="container pb-3">
		<a href="/addgenre" class="btn btn-success" >Add Genre</a>
	</div>
	
</body>
</html>